@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kode+Mono:wght@400..700&display=swap');
@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-primary: "Kode Mono";
    --font-secondary: "Inconsolata";
    --color-primary: #EFEEEA;
    --color-secondary: #99a1af;
    --bg-color: #161616
}

body {
    background-color: var(--bg-color);
    color: var(--color-primary);
    font-family: var(--font-secondary)
}

h1 {
    font-family: var(--font-primary);
}